<%= stylesheet_link_tag "static_pages/about" %>
<% set_meta_tags title: t('.topic') %>
<div class="about pt-5 pb-4">
    <div>
        <h1 class="title pb-3">
            <%= t '.topic' %>
        </h1>
    </div>

    <div class="introduction pb-4">
        <h2 class="pb-3 sub-title">
            <%= t '.plot_home' %>
        </h2>
        <h4 class="mx-auto">小説のプロットを<span class="important">批評し合う</span>場です。</h4>
        <p>
            「構想段階だけど、誰かの感想や批評が欲しい」、「プロットを作っても中々その通りに進まない」など、<br>
            小説を書き始めるその前段階から、第三者の意見を求める場であり、第三者として意見を送る場です。
        </p>
        <p>もちろん、読者の方々も歓迎です。</p>
        <p>
            小説が好きな方、小説はあまり読まないけれど、作品の世界観や登場人物の設定に触れることが好きな方、それらに限らず、創作物が好きな方。<br>
            ぜひ一度プロットに目を通し、そして良ければ、批評・感想をお願い致します。
        </p>
    </div>

    <div class="guidance pb-4">
        <h2>
            <%= t '.use_plot_home' %>
        </h2>
        <br>
        <h3 class="pb-1">書き手の方</h3>
        <h4 class="bigin">ユーザー登録が終わったのなら、まずは小説を投稿しましょう。</h4>
        <p>タイトルを入力し、ジャンル、文量、公開範囲を選択し、プロットを書き進めていきます。<br>
            この時、プロットがまだ完成していないのであれば、下書きとすることもできます。<br>
            そして必要であれば、キャラクター設定を追加しましょう。キャラクターには、作中での役割と設定を与えることができます。<br>
            キャラクターの数に制限はありませんが、プロットの入力は必須です。<br>
            キャラクターのみ記載したい場合は、その旨をプロット欄に入力しましょう。<br>
            <br>
            作品が投稿できれば、次は他の作品を見てまわりましょう。<br>
            作品一覧は、すでに投稿された作品が並び、それらを検索することもできます。<br>
            手始めには、好みのジャンルや、投稿した作品と同じジャンルの作品を見ると良いかもしれません。<br>
            そして、批評を行いましょう。改善点を伝えるのが難しいようであれば、良い点だけを伝えることも可能です。<br>
        </p>
        <br>
        <h3 class="pb-1">読み手の方</h3>
        <h4 class="bigin">ユーザー登録が終わったのなら、まずは小説を探しましょう。</h4>
        <p>
            小説の分類は、ジャンル、文量に分かれています。好きなジャンルや、話の規模を選ぶことができます。<br>
            小説一覧からは作者の検索もできるので、自分が好きな作風の作者を見つけられるかもしれません。<br>
            書き手の方と同じく、批評を行いましょう。批評と言うと小難しいなと思うかもしれません。<br>
            そういった時は、良い点に感想を記入して投稿しましょう。創作者は感想が来ると大変喜ぶものです。<br>
            <br>
            作品を見る中で、読み手から書き手へ転向したいと思うこともあるかもしれません。<br>
            その際は、下記にあるお問い合わせ先までご連絡をお願い致します。管理者が貴方の役割を変更します。<br>
        </p>
    </div>

    <div class="contact pb-5">
        <h2>お問い合わせ</h2>
        <p>
            管理者へのご連絡は、Twitterまたはメールでのご連絡をお願い致します。
        </p>
        <%= link_to 'https://twitter.com/Isuke626Shirobe' do %>
            <i class="fa-brands fa-twitter-square"></i>
            白辺 衣介(@Isuke626Shirobe)
        <% end %>
        <br>
        <i class="fa-solid fa-envelope"></i>
        isuke626shirobe@gmail.com
    </div>

    <div class="end-comment">
        <h2>最後に</h2>
        <h4 class="mx-auto">小説のプロットを<span class="important">批評し合う</span>場です。</h4>
        <p>
            批評と批判を決して間違えないようお願い致します。
        </p>
    </div>
</div>