<div id="user_novels-id-<%= user_novels.id %>">
  <div class="card mb-3">
  <ul class="list-inline card-body">
    <li class="list-inline-item mr-5"><h4><%= link_to user_novels.title, novel_path(user_novels.id) %></h4></li>
    <li class="list-inline-item mr-3"><%= user_novels.genre %></li>
    <li class="list-inline-item mr-3"><%= user_novels.story_length %></li>
    <% if user_novels.user.id == current_user.id %>
      <li class="list-inline-item"><%= user_novels.release %></li>
    <% end %>
  </ul>
  </div>
</div>
