<div id="user_novels-id-<%= user_reviews.id %>">
  <div class="card mb-3">
    <div class="cerd-body">
      <h4 class="text-center"><%= link_to user_reviews.novel.title, novel_path(user_reviews.novel.id) %></h4>
      <ul class="list-inline justify-content-center">
        <li class="list-inline-item mr-3"><h5><%= link_to user_reviews.user.name, user_path(user_reviews.user.id) %></h5>
        <li class="list-inline-item mr-3"><%= user_reviews.novel.genre %></li>
        <li class="list-inline-item"><%= user_reviews.novel.story_length %></li>
      </ul>
    </div>
  </div>
</div>