<div class="card mb-3">
  <div class="card-body">
    <h4 class="text-center"><%= link_to narrow_reviews.novel.title, novel_path(narrow_reviews.novel_id) %></h4>
    <ul class="list-inline justify-content-center">
      <li class="list-inline-item mr-3"><%= link_to narrow_reviews.novel.user.name, user_path(narrow_reviews.novel.user_id) %></li>
      <li class="list-inline-item mr-3"><%= narrow_reviews.novel.genre_i18n %></li>
      <li class="list-inline-item"><%= narrow_reviews.novel.story_length_i18n %></li>
    </ul>
    <p class="text-center m-0"><%= strip_tags(narrow_reviews.novel.plot.to_s).gsub(/[\n]/,"").strip.truncate(53) %></p>
  </div>
</div>
