<%= stylesheet_link_tag "actiontext" %>
<% set_meta_tags title: t('.topic') %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1><%= t('.topic') %></h1>
      <%= form_with model: @user, url: user_path, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control mb-3' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control mb-3' %>

        <%= f.label :profile %>
        <%= f.rich_text_area :profile, class: 'form-control mb-3' %>

        <div class="text-center mb-5">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>