<%= stylesheet_link_tag "users/show" %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5"><%= 'プロフィール' %></h1>
      <% if current_user.id == @user.id %>
        <%= link_to '編集', edit_user_path(@user), class: "btn btn-success pull-right" %>
      <% end %>
      <table class="table">
        <tr>
          <th scope="row"><%= 'メールアドレス' %></th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th scope="row"><%= '名前' %></th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= '自己紹介' %></th>
          <td><%= @user.profile %></td>
        </tr>
      </table>
    </div>
    <ul class="col-md-10 offset-md-1">
      <div class="tab-wrap">
        <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" />
        <label class="tab-label" for="TAB-01">投稿した作品</label>
        <div class="tab-content">
          <%= render partial: 'user_novels', collection: @user_novels %>
          <%= paginate @user_novels, id: "js-show-novels", remote: true %>
        </div>
        <input id="TAB-02" type="radio" name="TAB" class="tab-switch" checked="checked" />
        <label class="tab-label" for="TAB-02">批評した作品</label>
        <div class="tab-content">
          <%= render partial: 'user_reviews', collection: @user_reviews %>
          <%= paginate @user_reviews, id: "js-show-reviews", remote: true %>
        </div>
      </div>
    </ul>
  </div>
</div>
