<%= stylesheet_link_tag "header" %>
<header class="header fixed-top" style="height:80px">
  <nav class="navbar navbar-expand-lg pb-2 bg-opacity-50" style="height:80px">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h2 class="mt-2 pl-3 text-white"><%= t('shared.header.main_title') %></h2>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><%= t('shared.header.menu') %></span>
    </button>

    <div class="collapse navbar-collapse" id="responsiveMenu">
      <ul class="navbar-nav ml-auto list-unstyled">
        <li class="nav-item mr-4 ml-4" type="button" data-toggle="button">
          <%= link_to (t 'novels.index.topic'), novels_path, class: 'nav-link text-white btn btn-secondary btn-lg bg-primary m-1' %>
        </li>
        <li class="nav-item mr-4 ml-4" type="button" data-toggle="button">
          <%= link_to (t 'defaults.login'), login_path, class: 'nav-link  text-white btn btn-secondary btn-lg bg-primary m-1' %>
        </li>
        <li class="nav-item mr-4 ml-4" type="button" data-toggle="button">
          <%= link_to (t 'defaults.new_register'), new_user_path, class: 'nav-link  text-white btn btn-secondary btn-lg bg-primary m-1' %>
        </li>
      </ul>
    </div>
  </nav>
</header>