<%= stylesheet_link_tag "header" %>
<header class="header fixed-top" style="height:80px">
  <nav class="navbar navbar-expand-lg pb-2 bg-opacity-50" style="height:80px">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h2 class="mt-2 pl-5 text-white"><%= t('shared.header.main_title') %></h2>
    <% end %>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><%= t('shared.header.menu') %></span>
    </button>

    <div class="collapse navbar-collapse" id="responsiveMenu">
      <ul class="navbar-nav ml-auto list-unstyled">

        <li class="nav-item dropdown m-2 ">
          <a class="nav-link btn btn-secondary btn-lg dropdown-toggle bg-primary text-white"
            href="#"role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('shared.header.novel_menu') %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to (t 'novels.index.topic'), novels_path, class: 'dropdown-item' %>
            <% if current_user.role == "writer" %>
              <%= link_to (t 'shared.header.novel_post'), new_novel_path, class: 'dropdown-item' %>
            <% end %>
          </ul>
        </li>

        <li class="nav-item dropdown m-2">
          <a class="nav-link btn btn-secondary btn-lg dropdown-toggle bg-primary text-white" 
            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to (t 'users.show.topic'), user_path(current_user.id), class: 'dropdown-item' %>
            <%= link_to (t 'defaults.logout'), logout_path, class: 'dropdown-item', method: :delete %>
          </ul>
        </li>
      </ul>
    </div>
  <nav>
</header>