<div class="nested-fields">
    <%= f.label :character_role %>
    <%= f.text_field :character_role %>
    <%= f.label :character_text %>
    <%= f.text_field :character_text, class: 'form-control', rows: 5 %>
    <%= link_to_remove_association "削除", f %>
</div>