<div class="nested-fields mb-5">
    <div class="form-group">
        <%= f.label :character_role %>
        <%= f.text_field :character_role %>
    </div>
    <div class="form-group">
        <%= f.label :character_text %>
        <%= f.text_area :character_text, class: 'form-control', rows: 5 %>
    </div>
    <%= link_to_remove_association "削除", f %>
</div>