<%= form_with model: @novel, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="d-flex align-items-center">
    <div class="form-group">
      <%= f.label :genre %>：
      <%= f.select :genre, Novel.genres_i18n.invert, include_blank: (t '.genre_select') %>
    </div>
    <div class="form-group mx-auto">
      <%= f.label :story_length %>：
      <%= f.select :story_length, Novel.story_lengths_i18n.invert, include_blank: (t '.story_length_select') %>
    </div>
    <div class="form-group">
      <%= f.label :release %>：
      <%= f.select :release, Novel.releases_i18n.invert, include_blank: (t '.releace_select') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :plot %>
    <%= f.text_area :plot, class: 'form-control', rows: 10 %>
  </div>
  <div id="characters">
    <%= f.fields_for :characters, local: true do |character| %>
      <%= render 'novels/character_fields', f: character %>
    <% end %>
    <div class="links">
      <%= link_to_add_association (t '.add_character'), f, :characters,
      class: "btn btn-primary mb-5", type: "button" %>
    </div>
  </div>


  <%= f.submit class: 'btn btn-primary' %>
<% end %>