<% set_meta_tags title: t('.topic') %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="mt-5 mb-4"><%= t('.topic') %></h1>
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div>
              <h2 class="d-inline"><%= @novel.title %></h2>
              <%= render 'crud_menus', novel: @novel if current_user&.own?(@novel) %>
              <ul class="list-inline">
                <li class="list-inline-item"><%= t('.author') %>：<%= link_to @novel.user.name, user_path(@novel.user.id) %></li>
                <li class="list-inline-item"><%= t('attributes.created_at') %>：<%= @novel.created_at.to_s(:datetime_jp) %></li>
              </ul>
              <ul class="list-inline">
                <li class="list-inline-item"><%= t('activerecord.attributes.novel.genre') %>：<%= @novel.genre_i18n %></li>
                <li class="list-inline-item"><%= t('activerecord.attributes.novel.story_length') %>：<%= @novel.story_length_i18n %></li>
              </ul>
              <h2><%= t('activerecord.attributes.novel.plot') %></h2>
              <div class="card">
                <div class="ml-2 mr-2">
                  <div class="m-2">
                    <%= @novel.plot %>
                  </div>
                </div>
              </div>
              <% unless @novel.characters.blank? %>
                <h2 class="mt-4"><%= t('.character_text') %></h2>
              <% end %>
              <% @novel.characters.each do |c| %>
                <div class="card mb-3">
                  <div class="ml-2 mr-2">
                    <h4 class="m-2"><%= c.character_role %></h4>
                    <div class="m-2">
                      <%= c.character_text %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>

  <% if current_user&.id != @novel.user.id && current_user.present? %>
    <!-- レビューフォーム -->
    <div id='review_form'>
      <%= render 'reviews/form', { novel: @novel, review: @review } %>
    </div>
  <% elsif current_user.blank? %>
    <p class="text-center m-3">批評にはログインが必要です</p>
  <% end %>
  <!-- レビューエリア -->
  <div id='review-area'>
    <%= render 'reviews/reviews', { reviews: @reviews } %>
  </div>
</div>
