<tr>
  <td>
    <%= novel.id %>
  </td>
  <td>
    <%= novel.title %>
  </td>
  <td>
    <%= novel.user.name %>
  </td>
  <td>
    <%= novel.created_at.to_s(:datetime_jp) %>
  </td>
  <td>
    <%= link_to t('defaults.show'), admin_novel_path(novel), class: 'btn btn-info' %>
    <%= link_to t('defaults.edit'), edit_admin_novel_path(novel), class: 'btn btn-success' %>
    <%= link_to t('defaults.delete'), admin_novel_path(novel), method: :delete, data: { confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-danger' %>
  </td>
</tr>