<div class="container p-0">
      <ul class="p-0">
        <%= form_with model: [@novel, @review], id: "js-new-reply", local: false do |f| %>
          <div class="form-group">
            <%= f.hidden_field :parent_id, class: 'form-control' %>
          </div>
          <!-- good_pointは入力必須 -->
          <div class="form-group">
            <%= f.hidden_field :good_point, class: 'form-control', value: 'Reply' %>
          </div>
          <li>
            <div class="form-group">
              <%= f.text_area :comment, class: 'form-control', rows: 4 %>
            </div>
          </li>

          <li>
            <div class="text-center">
              <%= link_to (t 'defaults.cancel'), novel_path(@novel), class: 'btn btn-secondary', id: 'cancel-button', local: false %>
              <%= f.submit class: 'btn btn-primary' %>
            </div>
          </li>
        <% end %>
      </ul>
</div>
