<div id="js-reply-<%= reply.id %>">
  <ul class="card reply-card m-3 p-3">
    <li class="card-title">
      <%= link_to reply.user.name, user_path(reply.user) %>
      <% if current_user&.own?(reply) %>
        <%= link_to novel_review_path(novel_id: reply.novel_id, id: reply.id), class: "js-delete-reply-button float-end",
          data: { confirm: t('defaults.message.delete_confirm') }, name: 'delete-button',
          method: :delete, remote: true do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
        <%= link_to edit_novel_review_path(novel_id: reply.novel_id, id: reply.id),
          class: "js-edit-reply-button mr-2 float-end", name: 'edit-button', remote: true do %>
          <i class="fa-solid fa-pen-fancy"></i>
        <% end %>
      <% end %>
    </li>
    <li class="card-body p-0">
      <%= reply.comment %>
    </li>
  </ul>
</div>
