<tr id="review-<%= review.id %>">
  <% if !review.parent_id %>
    <td>
      <div id="review-text-<%= review.id %>">
        <h3 class="small mt-3"><%= link_to review.user.name, user_path(review.user.id) %></h3>
        <%= t('activerecord.attributes.review.good_point') %>
        <%= simple_format(review.good_point) %>
        <%= t('activerecord.attributes.review.bad_point') %>
        <%= simple_format(review.bad_point) %>
      </div>
      <% if review.replies.any? %>
        <div id="js-reply-create">
        <% review.replies.reverse.each do |reply| %>
          <%= render partial: 'reviews/reply', locals: { reply: reply } %>
        <% end %>
      <% end %>
      <div id="reply-form-<%= review.id %>"></div>
    </td>

    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        <% if current_user&.own?(review) %>
          <li class="list-inline-item">
            <%= link_to edit_novel_review_path(novel_id: review.novel_id, id: review.id),
              class: "js-edit-review-button", name: 'edit-button', remote: true do %>
              <i class="fa-solid fa-pen-fancy"></i>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to novel_review_path(novel_id: review.novel_id, id: review.id), class: "js-delete-review-button",
            data: { confirm: t('defaults.message.delete_confirm') }, name: 'delete-button',
            method: :delete, remote: true do %>
            <i class="fa-solid fa-trash"></i>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to (t 'reviews.reply_form.comment'), new_novel_review_path(@novel, parent_id: review.id), remote: true %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>